<%= form_for @tour do |f| %>
  <h1>Tell Us About Yourself</h1>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %><br>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %><br>

  <%= f.label :phone %>
  <%= f.phone_field :phone %><br>

  <%= f.submit %>
<% end unless @tour.basic_info? %>

<%= form_for @tour do |f| %>
  <h1>What You Want To Do?</h1>

  <%= f.label :date %>
  <%= f.text_field :date %><br>

  <%= f.label :location %>
  <%= f.text_field :location %><br>

  <%= f.label :amenities %>
  <%= f.select :amenities, options_for_select(Tour.valid_amenities), {}, :multiple => 'multiple' %><br>

  <%= f.submit %>
<% end if @tour.basic_info? && !@tour.extra_info? %>