<h1>Tour Life</h1>

<% for attribute in [:email, :first_name, :last_name, :phone, :date, :location, :amenities, :rating] %>
  <p><b><%= attribute.to_s.humanize %>:</b> <%= @tour.attributes[attribute.to_s].to_s %></p>
<% end %>

<%= form_for @tour do |f| %>
  <h1>How was it?</h1>

  <%= f.label :rating %>
  <%= f.text_field :rating %><br>

  <%= f.submit %>
<% end unless @tour.rating? %>